{{#each this}}
<li class="gallery-item">
{{!-- <div class="photo-card"> --}}
  <img src="{{webformatURL}}" alt="{{tags}}" data-src="{{largeImageURL}}" />

  <div class="stats">
    <p class="stats-item">
      <i class="material-icons icons md-light">thumb_up</i>
      {{likes}}
    </p>
    <p class="stats-item">
      <i class="material-icons icons md-light">visibility</i>
      {{views}}
    </p>
    <p class="stats-item">
      <i class="material-icons icons md-light">comment</i>
      {{comments}}
    </p>
    <p class="stats-item">
      <i class="material-icons icons md-light">cloud_download</i>
      {{downloads}}
    </p>
  </div>
{{!-- </div> --}}
</li>
{{/each}}